<a href="https://colab.research.google.com/github/Vaishali-2812/Python-Programming/blob/Python_Learning/Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#join()

In [ ]:
string1 = "hello how are you !"
string1.split()

['hello', 'how', 'are', 'you', '!']

In [ ]:
# hello can you tell me about ds /


"".join(string1)

'hello how are you !'

In [ ]:
words = ["sr" ,"awo"]
sentence = "!".join(words)
print(sentence)

sr!awo

In [ ]:
fruits = ["apple","banana","cherry"]
result = " ".join(fruits)
print(f"the names given are the ,{result}")

the names given are the ,apple banana cherry

In [ ]:
emails = ["user1@gmail.com", "user2@gmail.com"]
email_line = " ; ".join(emails)
print(email_line)

user1@gmail.com ; user2@gmail.com

In [ ]:
data = ["sau", 10, "fun"]
data_line = " ; ".join(data)
print(data_line)

TypeError: sequence item 1: expected str instance, int found

In [ ]:
#user input

name = "abc"
last_name = "qwe"
print("first name is",name, "last name is ",last_name)

first name is abc last name is  qwe

In [ ]:
name = input("enter the first name:")
last_name = input("enter the last name:")
print("first name is",name, "last name is ",last_name)

enter the first name:abc
enter the last name:asd
first name is abc last name is  asd

In [ ]:
age = int(input("enter your age:"))
print("age of the given person is", age)

enter your age:12
age of the given person is 12

In [ ]:
# create a form for the studentd where you will ask the name email phone number for the ragistration , and
#the ragistration is done print a good thank you message

In [ ]:
#3 inputs then join all of them!

In [1]:
Student_form = []

name = input("Enter your name: ")
email = input("Enter your email: ")
phone_number = input("Enter your phone number: ")

Student_form.append(name)
Student_form.append(email)
Student_form.append(phone_number)

print("Thank you for registring")
print(Student_form)

Enter your name: vaishali
Enter your email: abcd
Enter your phone number: 123456
Thank you for registring
['vaishali', 'abcd', '123456']

In [ ]:
item1 = input("enter the first item: ")
item2 = input("enter the second item: ")
item3 = input("enter the third item: ")
item4 = input("enter the fourth item: ")
item5 = input("enter the fifth item: ")

items = [item1, item2, item3, item4, item5]
item_line = " ; ".join(items)
print(item_line)

enter the first item: 12
enter the second item: sai
enter the third item: 45
enter the fourth item: True
enter the fifth item: wer
12 ; sai ; 45 ; True ; wer

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

In [ ]:
# Assign a list t
# o an variable named my_list
my_list = [1,2,3,4]

In [ ]:
print(my_list)

[1, 2, 3, 4]

In [ ]:

id(my_list)

134747638409920

In [ ]:
id(my_list[0])

10750856

In [ ]:
id(my_list[1])

10750888

In [ ]:
type(my_list)

list

* We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
str1 = "hello my name"
id(str1)

134747638757168

In [ ]:
str1 = str1.replace("h","p")
id(str1)

134747638754352

In [ ]:
my_list = ['A string',23,100.232,'o',True]
print(id(my_list))
print(my_list)

134747638711232
['A string', 23, 100.232, 'o', True]

In [ ]:
my_list[1] = 67

In [ ]:
print(id(my_list))
print(my_list)

134747638711232
['A string', 67, 100.232, 'o', True]

* Just like strings, the <code>len()</code> function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

5

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [ ]:
# Consider a list of strings
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the element at index 0, which is the FIRST element
print(loss_functions[1])

Mean Squared Error

In [ ]:
len(loss_functions)

5

In [ ]:
# Grab the element at index 3, which is the FOURTH element
print(loss_functions[3])

Log Loss

In [ ]:
print(loss_functions[6])

IndexError: list index out of range

In [ ]:
# Grab the element at the index -1, which is the LAST element
print(loss_functions[-1])

Hinge Loss

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
print(loss_functions[-3])

Huber Loss

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

In [ ]:
# Print our list
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab the elements starting from index 1 and everything past it
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire list.

In [ ]:
# Grab everything starting from index 2
loss_functions[2:]

['Huber Loss', 'Log Loss', 'Hinge Loss']

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [ ]:
# Grab everything before the index 4
loss_functions[:4]

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss']

* If you do not specify the starting and the ending index, it will extract all elements of the list.

In [ ]:
# Grab everything
print(loss_functions[:])

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [ ]:
# Grab the LAST FOUR elements of the list
loss_functions[-4:]

['Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
loss_functions[-10]

IndexError: ignored

* It should also be noted that list indexing will return an error if there is no element at that index.

In [ ]:
len(loss_functions)

5

In [ ]:
loss_functions[8]

IndexError: ignored

## List Operations
* Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

* We can also use <code>+</code> to concatenate lists, just like we did for strings.

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* Note: This doesn't actually change the original list!

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

* You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
loss_functions = loss_functions + ['Kullback-Leibler']

In [ ]:
loss_functions

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

* We can also use the <code>*</code> for a duplication method similar to strings:

In [ ]:
# Make the list double
len(loss_functions * 6)

36

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [ ]:
len(loss_functions)

6

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
min(new_list)

1

In [ ]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [ ]:
min(my_new_list)

'a'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:

sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
my_list = [2,5,4,1,6,7]

In [ ]:
sorted(my_list,reverse=True)

[7, 6, 5, 4, 2, 1]

In [ ]:
new_list

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [ ]:
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [ ]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [ ]:
print(new_list)

['Argue', 'Burglar', 'Parent', 'Linear', 'shape']

In [ ]:
sorted(new_list,reverse=True)

['shape', 'Parent', 'Linear', 'Burglar', 'Argue']

In [ ]:
sorted(new_list)

TypeError: ignored

* <code>sorted()</code> function does not change our list

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
len(my_list)

10

In [ ]:
my_list.append(23)

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23]

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

* Ah darn it! I was expecting some output. Lets see what happened to <code>my_list</code>

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!']

In [ ]:
basket = []
basket.append('apple')
basket.append('banana')
basket.append('orange')

In [ ]:
basket

['apple', 'banana', 'orange']

In [ ]:
len(my_list)

12

In [ ]:
# $build a guest list for the house party !
# hello every welcome to the party

In [ ]:
guest_list = []
print("initial guest list", guest_list)
print("welcome to the party")
name1 = input("enter the guest name 1st:")
guest_list.append(name1)
name2 = input("enter the guest name 2nd:")
guest_list.append(name2)
name3 = input("enter the guest name 3rd:")
guest_list.append(name3)
print("this is the final guest list",guest_list)

names  = ",".join(guest_list)
print("welcome to the party", names)

initial guest list []
welcome to the party
enter the guest name 1st:a
enter the guest name 2nd:b
enter the guest name 3rd:c
this is the final guest list ['a', 'b', 'c']
welcome to the party a,b,c

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [ ]:
# Show
my_list.append(2.73)

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73]

* We can in fact add a list object to our <code>my_list</code> object

In [ ]:
my_list.append([1,2,3])

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3]]

In [ ]:
len(my_list)

14

In [ ]:
my_list.append([10,[19,20],30])

In [ ]:
my_list

[1,
 2,
 3,
 1,
 1,
 1,
 3,
 10,
 5,
 8,
 23,
 'Append me!',
 2.73,
 [1, 2, 3],
 [10, [19, 20], 30],
 [10, [19, 20], 30],
 [10, [19, 20], 30]]

In [ ]:
len(my_list)

17

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30]]

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
shelf = ["book1","book2"]
shelf.append("notebook")
print(shelf)

['book1', 'book2', 'notebook']

In [ ]:
shelf.append([1,2,3])

In [ ]:
print(shelf)

['book1', 'book2', 'notebook', [1, 2, 3]]

In [ ]:
shelf.extend([7,8,9])
print(shelf)

['book1', 'book2', 'notebook', [1, 2, 3], 7, 8, 9]

In [ ]:
print("a")

a

##methods like append(), extend(), sort(), reverse(), work in place they do not return the value , so when you try to assign the vairable to it , it will be none

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]
l1.append(l2)
l1

[1, 2, 3, [3, 4, 5]]

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]

In [ ]:
d = l1.extend(l2)

In [ ]:
print(d)

None

In [ ]:
len(my_list)

20

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# Pop off the 0 indexed item
my_list.pop()

'Dub Dub'

* <code>pop()</code> method changes the list by popping off the element at the specified index

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
# Assign the popped element, remember default popped index is -1
my_list.pop(0)

1

In [ ]:
len(my_list)

18

In [ ]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
#pop ins taking index as an arugment, ex remove element from 2nd index
# remove is taking the ele as a argument

In [ ]:
# Print the list
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
# Remove the element which you want to
my_list.remove([10, [19, 20], 30])

In [ ]:
# Show
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
my_list.remove('Append me!')

In [ ]:
print(my_list)

[2, 3, 1, 1, 1, 3, 10, 5, 8, 23, 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
len(my_list)

16

In [ ]:
my_list.remove(1)

In [ ]:
print(my_list)

[2, 3, 1, 1, 3, 10, 5, 8, 23, 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
len(my_list)

15

In [ ]:
my_list.clear

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
print(my_list)

[2, 3, 1, 1, 3, 10, 5, 8, 23, 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
# Count the number of times element 1 occurs in my_list
my_list.count('Wubba')

1

In [ ]:
my_list.count(1)

2

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
print(my_list)

[2, 3, 1, 1, 3, 10, 5, 8, 23, 2.73, [1, 2, 3], [10, [19, 20], 30], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
my_list.index('Wubba')

13

In [ ]:
my_list.index(3)

1

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[1, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [ ]:
boolean_list = [True, False]

In [ ]:
boolean_list.sort(reverse=True)

In [ ]:
print(boolean_list)

[True, False]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
my_list.reverse()

In [ ]:
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Nested Lists

* A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=['b','a','d']
lst_3=[7,8,9]

# Make a list of lists to form a matrix
list_of_lists = [lst_1,lst_2,lst_3]

In [ ]:
print(list_of_lists)

[[1, 2, 3], ['b', 'a', 'd'], [7, 8, 9]]

In [ ]:
# Show
type(list_of_lists)

list

In [ ]:
list_of_lists[1][1]

'a'

In [ ]:
a = list_of_lists[2]

In [ ]:
a[1]

8

In [ ]:
# Grab first item in matrix object
list_of_lists[1]

['b', 'a', 'd']

In [ ]:
# Grab first item of the first item in the matrix object
list_of_lists[1]

['b', 'a', 'd']

In [ ]:
list_of_lists[1][1][][][]

'a'

**insert()**

In [ ]:
#add element to the specific index of position
#insert(index, value)

In [ ]:
my_list

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

In [ ]:
my_list.insert(1,2)

In [ ]:
my_list

['Dub Dub', 2, 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

In [ ]:
my_list.insert(2, "john")

In [ ]:
my_list

['Dub Dub', 2, 'john', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]