<a href="https://colab.research.google.com/github/Vaishali-2812/Python-Programming/blob/Python_Learning/Lists_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week
#temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [3]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# Find the index of the minimum and maximum elements
min_index = temperatures.index(min(temperatures))
max_index = temperatures.index(max(temperatures))

# Swap the elements
temperatures[min_index], temperatures[max_index] = temperatures[max_index], temperatures[min_index]

print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ element

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# list slicing and concatenation
correct_tech_companies = tech_companies[:3] + tech_companies[-1]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

print(f"correct_tech_companies:{correct_tech_companies}")

correct_tech_companies:['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']