<a href="https://colab.research.google.com/github/Vaishali-2812/Python-Programming/blob/Python_Learning/Loops_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment - Student Version

### Question 1
You have a list of product prices: [10, 15.5, 8.75, 22]. Print each product's price prefixed with 'Product Price: Rs ' using a for loop.

In [1]:
# Write your code here
product_prices = [10,15.5,8.75,22]

for price in product_prices:
    print(f"Product Price :{price}")

Product Price :10
Product Price :15.5
Product Price :8.75
Product Price :22

### Question 2
Create a list of student names and print their names one by one using enumerate(), prefixed with their student number starting from 1.

In [4]:
# Write your code here

student_names = ["Ram","Shyam","Hari","Jay","Mona"]

for index,name in enumerate(student_names, 1):
    print(f"Student {index} : {name}")

Student 1 : Ram
Student 2 : Shyam
Student 3 : Hari
Student 4 : Jay
Student 5 : Mona

### Question 3
Given a tuple of temperature readings for a week (30.5, 31, 29, 28, 32, 33, 30), print each reading with its day number.

In [7]:
# Write your code here

temperatures = (30.5, 31, 29, 28, 32, 33, 30)

for day,temp in enumerate(temperatures,1):
  print(f"Day {day} : {temp}C")

Day 1 : 30.5C
Day 2 : 31C
Day 3 : 29C
Day 4 : 28C
Day 5 : 32C
Day 6 : 33C
Day 7 : 30C

### Question 4
You’re given a list of 5 cities and their matching boolean values for 'Is it raining?': [True, False, True, False, True]. Print a statement like: 'It is raining in City 1: True'.

In [13]:
# Write your code here
cities = ["Mumbai","Bangalore","Pune","Delhi","Chennai"]
is_raining = [True, False, True, False, True]

for city,is_rain in zip(cities,is_raining):
  print(f"It is raining in {city} : {is_rain}")

It is raining in Mumbai : True
It is raining in Bangalore : False
It is raining in Pune : True
It is raining in Delhi : False
It is raining in Chennai : True

### Question 5
Take a dictionary of subjects and marks like {'Math': 80, 'Science': 75, 'History': 70}. Print: 'In Math, you scored 80' using a for loop.

In [17]:
# Write your code here
subjects =  {'Math': 80, 'Science': 75, 'History': 70}

for subject,marks in subjects.items():
  print(f"In {subject}, you scored {marks} marks.")

In Math, you scored 80 marks.
In Science, you scored 75 marks.
In History, you scored 70 marks.

### Question 6
You are given a list of daily steps walked for 7 days. Write a loop to calculate the total number of steps.

In [20]:
# Write your code here
daily_steps = [9000,7500,10200,5000,6540,7050,3000]

total_steps = 0

for steps in daily_steps:
  total_steps += steps

  print(f"Total steps walked in a week : {total_steps}")

Total steps walked in a week : 9000
Total steps walked in a week : 16500
Total steps walked in a week : 26700
Total steps walked in a week : 31700
Total steps walked in a week : 38240
Total steps walked in a week : 45290
Total steps walked in a week : 48290

In [21]:
type(daily_steps)

list

### Question 7
Create a list of food items. Print all the items that have more than 5 characters in their name.

In [23]:
# Write your code here

food_items = ["apple", "banana", "sandwich", "pizza", "burger", "chocolate"]

for item in food_items:
    if len(item) > 5:
        print(item)

apple
banana
sandwich
pizza
burger
chocolate

### Question 8
Given a dictionary of names and birth years, calculate the age assuming the current year is 2025. Print names of people who are older than 18.

In [24]:
# Write your code here

birth_years = {
    "Alice": 2000,
    "Bob": 1995,
    "Charlie": 2010,
    "David": 1988,
    "Eve": 2007
}

current_year = 2025

for name, birth_year in birth_years.items():
    age = current_year - birth_year
    if age > 18:
        print(f"{name} is older than 18")

Alice is older than 18
Bob is older than 18
David is older than 18

### Question 9
Create a tuple of customer feedback scores (1-5). Count how many 5-star ratings are there using a for loop.

In [25]:
# Write your code here

feedback_scores = (4, 5, 3, 5, 5, 2, 1, 5, 4, 5)  # Example feedback scores

five_star_count = 0  # Initialize the count of 5-star ratings to 0

for score in feedback_scores:
    if score == 5:
        five_star_count += 1  # Increment the count if the score is 5

print(f"Number of 5-star ratings: {five_star_count}")

Number of 5-star ratings: 5

### Question 10
You’re building a list of available stock items. If a product has 0 quantity, skip it. Use a for loop to print only available products.

In [26]:
# Write your code here

stock_items = {
    "apple": 10,
    "banana": 5,
    "orange": 0,
    "grape": 20,
    "kiwi": 0
}  #  stock data

print("Available stock items:")

for item, quantity in stock_items.items():
    if quantity > 0:  # Check if quantity is greater than 0
        print(f"- {item}: {quantity}")

Available stock items:
- apple: 10
- banana: 5
- grape: 20

### Question 11
Using enumerate(), print a leaderboard: ['Alice', 'Bob', 'Charlie'] with rank numbers.

In [30]:
# Write your code here

leaderboard = ['Alice', 'Bob', 'Charlie']

for rank,name in enumerate(leaderboard,1):
  print(f"{rank}. {name}")

1. Alice
2. Bob
3. Charlie

### Question 12
You have a list of strings: ['pen', 'pencil', 'eraser']. Ask the user to input an item name, and use a loop to check if it's available or not. Print appropriate message.

In [4]:
# Write your code here

In [2]:
items = ['pen', 'pencil', 'eraser']

item_name = input("Enter the item name: ")

found = False  # Initialize a flag to track if the item is found

for item in items:
    if item == item_name:
        found = True
        break  # Exit the loop if the item is found

if found:
    print(f"{item_name} is available.")
else:
    print(f"{item_name} is not available")

Enter the item name: book
book is not available

### Question 13
Given a dictionary of employees and their departments, reverse the dictionary so departments are keys and employee names are values in a list.

In [5]:
# Write your code here

employee_dept = {
    "Alice": "Sales",
    "Bob": "Marketing",
    "Charlie": "Sales",
    "David": "IT",
    "Eve": "Marketing"
}

dept_employee = {}  # Create an empty dictionary to store the reversed data

for employee, dept in employee_dept.items():
    if dept in dept_employee:
        dept_employee[dept].append(employee)  # Add employee to existing list
    else:
        dept_employee[dept] = [employee]  # Create new list for the department

print(dept_employee)

{'Sales': ['Alice', 'Charlie'], 'Marketing': ['Bob', 'Eve'], 'IT': ['David']}

### Question 14
You have two lists: names and scores. Combine them into a dictionary using a loop and print: 'Name: X, Score: Y'

In [12]:
# Write your code here

names = ["Raj","Dev","Sam","John"]
scores = [85,87,65,91]

name_scores_dect = {}

for i in range(len(names)):
  name_scores_dect[names[i]] = scores[i]

  print(f"Name : {names[i]} , Score : {scores[i]}")

Name : Raj , Score : 85
Name : Dev , Score : 87
Name : Sam , Score : 65
Name : John , Score : 91

In [9]:
type(name_scores_dect)

dict

### Question 15
You are given a list of shopping cart items with prices. Apply a 10% discount using a loop and print the updated prices. Show both old and new prices like: 'Old: Rs 100, New: Rs 90.0'

In [14]:
# Write your code here

cart_items = [
    {"name": "Shirt", "price": 100},
    {"name": "Pants", "price": 150},
    {"name": "Shoes", "price": 200}
]

discount_rate = 0.10  # 10% discount

for item in cart_items:
    old_price = item["price"]
    discount = old_price * discount_rate
    new_price = old_price - discount
    print(f"Old: Rs {old_price}, New: Rs {new_price:.2f}")

Old: Rs 100, New: Rs 90.00
Old: Rs 150, New: Rs 135.00
Old: Rs 200, New: Rs 180.00

In [15]:
type(cart_items)

list